@font-face {
  font-family: 'Inter Tight';
  src: url('/font/InterTight-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Tight';
  src: url('/font/InterTight-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monospace';
  src: url('/font/FiraCode-VF.woff2') format('woff2-variations');
  font-weight: 300 700; 
  font-style: normal;
  font-display: swap;
}