.distribution {
  padding: 10px;
  border: 1px solid #4682b4;
  border-radius: 5px;
  background-color: #f0f8ff;
  transition: background-color 0.3s ease;
  position: relative;
  min-height: 120px; // Ajustez cette valeur selon vos besoins

  &.low-water {
    background-color: #ffe4e1;
    border-color: #ff6347;
  }

  &.effective-distribution {
    background-color: #e6ffe6;
    border-color: #4caf50;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  p {
    margin: 5px 0;
  }

  .alert, .info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    padding: 5px;
    border-radius: 3px;
  }

  .alert {
    background-color: rgba(255, 69, 0, 0.1);
    color: #ff4500;
    font-weight: bold;
  }

  .info {
    background-color: rgba(76, 175, 80, 0.1);
    color: #4caf50;
    font-weight: bold;
  }
}