html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

@import './scss/font-face';
@import './scss/font';

@import './scss/index.scss';


@tailwind base;
@tailwind components;
@tailwind utilities;
